.navbar {
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 0.9;
}
.bg-light {
  background-color: #e6e9ec !important;
}
.navbar-brand {
  font-weight: bold;
  padding-left: 30px;
  margin-top: 10px;
}
.navlinks {
  text-align: left;
  font-size: 19px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e9ec;
  margin-top: 20px;
}
.nav-link {
  border-radius: 5px;
}
.nav-link:hover {
  color: black !important;
  background-color: #b6bcc2 !important;
  border-radius: 5px;
  font-weight: 420 !important;
}
.navlinks .nav-item {
  padding-left: 20px;
}

.dropdown-menu {
  list-style: none;
}
.nav-item {
  list-style: none;
  text-decoration: none;
  border: none;
}
/* .dropdown-divider {
  height: 4px;
  border: 1px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
} */

.nav-link-login {
  margin-right: auto !important;
}
.navbar__dropdown {
  border-width: 10% !important;
}
.active__nav__link {
  color: black !important;
  background-color: #b6bcc2 !important;
  border-radius: 5px;
  font-weight: 420 !important;
}
/* .hash__logo {
  margin-top: 0px !important;
  width: 240px;
  height: 110px;
} */
/* .navbar-toggler {
  display: flex;
  align-items: center;
} */

/* .active__nav__link {
  border-bottom: 2px solid #7d50e8 !important;
  color: black !important;
  border-top: 1px solid #7d50e8 !important;
}
.active__nav__link:hover {
  border-bottom: 3px solid #4d03fa !important;
  color: black !important;
  border-top: 2px solid #4d03fa !important;
} */
